body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  background: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 6px rgb(158, 31, 154);
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  width: 850px;
  margin: 20px auto;
}

li {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  box-shadow: 0 2px 6px rgb(158, 31, 154);
}

li button {
  margin-left: 10px;
  background-color: #dc3545;
}

li button:hover {
  background-color: #c82333;
}

.edit-container {
  width: 800px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.user-info {
  flex-grow: 1;
}

.button-group {
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  background-color: #e5367f;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #c33598;
}

div {
  h2 {
    color: #ddd;
  }
}